name: scp files
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  copy:
    name: Copy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Copy file via ssh, use password
        run: >
          rsync 
          --rsh="sshpass -p ${{ secrets.OCF_PASSWORD }} ssh -o StrictHostKeyChecking=no -l ${{ secrets.OCF_USERNAME }}"
          -avz --delete 
          --exclude '.git' 
          --exclude '.github' 
          --exclude '.DS_Store' 
          --exclude 'README.md'
          ./* 
          ssh.ocf.berkeley.edu:~/public_html
